<div>
  <p>
      <mat-form-field appearance="outline">
        <mat-label>Nome do Professor</mat-label>
        <input matInput placeholder="Nome do Professor">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Número do Professor</mat-label>
      <input matInput placeholder="Número ">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
  </p>

  <section>
    <div class="example-button-row">
      <button mat-flat-button >Salvar</button>
    </div>
  </section>
</div>


