mat-label
{
    width: 100%;
    height: 90%;
    color: #0861BD;
}

.Input
{
    color: #0861BD;
    background-color: red;
}

.mat-mdc-unelevated-button:not(:disabled) 
{
    color:#ffffff;
    background-color: #0861BD;
}