<div class="divTitulo" style="
  width: 100%;
  height: 100%;   
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fffefe;">

  <div style=" margin: 50px; display: flex; flex-direction: row; align-items: center;">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <div class="titulo" style="margin-left: 130px; font-size: 30px; color: #0861BD; text-align: center;">
      <span>{{tipoCadastro}}</span>
    </div>
  </div>
</div>
