:host 
{
    width: 97%;
    height: 10%; 
    padding: 5px;  
    display: flex;
    align-items: center; 
    justify-content: center;
    border: 1px solid black;
    background-color: #ffffff;
}

mat-icon 
{
    
    display: flex; 
    font-size: 31px;
    cursor: pointer;
    color: #0861BD;
    opacity: 50%;
    align-items: center;
    justify-content: center;
}

mat-icon:hover
{
    opacity: 100%;
}