<div class="divTitulo" style="
  width: 100%;
  height: 100%;   
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #fffefe; ">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <div class="titulo" style="width: 70%; font-size: 30px; color: #0861BD; display: flex; align-items: center; justify-content: center; text-align: center;">
    <span>{{tipoCadastro}}</span>
  </div>
</div>