:host
{
  width: 50%;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #ff4c4c;
}

img
{
  margin: 10px;
  border: 1px solid black;
}

button
{
  width: 100%;
}