:host
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mat-mdc-unelevated-button:not(:disabled) 
{
  color:#ffffff;
  background-color: #0861BD;
}


  

