// Define a largura do componente e o layout em coluna.
:host
{
    width: 500px;
    display: flex;
    flex-direction: column;
     
}
 
// Espaçamento entre as linhas , Layout em linha para os elementos filhos , Cor de fundo da linha, Borda preta ao redor da linha.
.linha
{
    margin: 2%;
    display: flex;
    flex-direction: row;
    background-color: #d5d5fc;
    border: 1px solid rgb(0, 0, 0);
    
}

// Espaçamento interno,Esconde o texto que ultrapassa o limite,Borda à direita para separar as colunas.
span
{
    margin: 1%;
    // código que faz ter os '...' no final do texto
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid rgb(0, 0, 0);
}


// Espaçamento ao redor do ícone,Cor roxa para os ícones.
.icone
{
    margin: 1%;
    color: #42037c;;
}