:host
{
    margin: 3%;
    width: 500px;
    display: flex;
    flex-direction: column;
     
}
 
.linha
{
    margin: 1%;
    display: flex;
    flex-direction: row;
    background-color: #d5d5fc;
    border: 1px solid rgb(0, 0, 0);
    
}

span
{
    margin: 1%;
    // código que faz ter os '...' no final do texto
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid rgb(0, 0, 0);
}

.icone
{
    margin: 1%;
    color: #42037c;;
}