<p>Vendas de Produtos</p>

<div  style="display: flex; width: 100%; justify-content: center;">

    <div style="display: flex; flex-direction: column; height: auto;">
        <span>Código do produto</span>
        <input matInput [(ngModel)]="produtoAtual.codigo" (blur)="localizarProduto()" placeholder="Código do produto"/>
    </div>
        
    <div style="display: flex; flex-direction: column; height: auto;">
    <span>Nome do produto</span>
    <span>{{produtoAtual.nome}}</span>
    </div>
    
    <div style="display: flex; flex-direction: column;" >
    <span>Preço do Produto</span>
    <!--
    A estrutura pipe e ultilizada para formatar numeros ,datas, telefones etc...
    A estrutura pipe e composta da seguinte forma:  | tipo de dado: 'formatação'
    ultilizei o pipe | number:'1.2-2' para formatar o valor da propriedade .preco para q ela exiba dois carecteres 0 apos o simbolo decimal
    
    -->
    <span>{{produtoAtual.preco | number:'1.2-2'}}</span>
    </div>

    <div style="display: flex; flex-direction: column;" >
    <span>Qtd de Produtos disponível </span>
    <span>{{produtoAtual.quantidade}}</span>
    </div>

    <div style="display: flex; flex-direction: column;" >
    <span>Qtd do Produto</span>
    <input type="number" matInput [(ngModel)]="quantidadeVenda" placeholder="Qtd do produto"/>
    </div>
    
</div>
<span>{{msgProduto}}</span>

<button  mat-buttonclass="button" (click)="venderProduto()" >Vender produto</button>

<app-lista-vendas [vendas]="venda" ></app-lista-vendas>