<div class="divPai" style="
    padding: 3%;
    text-align: center;
    background-color: #7476e0a2;
    box-shadow: 0 2px 10px rgb(255, 255, 255);">
  <div>
    <input type="text" [(ngModel)]="novaTarefa"  placeholder="Adicionar Tarefa ">
    <button (click)="adicionar()">Adicionar</button>
  </div>
  <div>
    <li *ngFor="let Tarefas of tarefas; let i = index">
            <input type="checkbox"
            (change)="tarefaConcluida(i)">
        <span>{{Tarefas.tarefa}}</span>
        <button>Deletar</button>
    </li>
  </div>
</div>