<div class="divPai" style="
    width: 100%;
    height: 95%; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;">
    <app-barra></app-barra>

    <div class="divfilho" style="
        height: 33%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-color:#000000;">

        <div class="divCadastros" style="
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            background-color:#8bbeee;">
            <app-cadastro></app-cadastro>
        </div>
        
        <div class="foto" style="
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            background-color: #8bbeee;">
              <div class="foto" style="
              width: 30%;
              height: 90%;
              display: flex;
              flex-direction: row;
              border: 1px solid blanchedalmond;
              background-color: #9030ad;">
        </div><app-foto></app-foto>
        
</div>