:host{
    display: flex;
    flex-direction: column;
     width: 500px;
     border-bottom: 1px solid grey;
     padding: 3px;
     
}

.linha{
    display: flex;
    flex-direction: row;
     width: 500px;
     border-bottom: 1px solid grey;
     padding: 3px;
     
}
span{
    border-right: 1px solid grey;
    
    // código que faz ter os '...' no final do texto
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
     
}