 <div class="linha" *ngFor="let academia of academias">

<!-- criando span parea ususario escrever as informações   -->

<span style="width: 50%;">{{academia.nomeAcademia}}</span>

<span style="width: 10%;">{{academia.telefoneAcademia}}</span>

<!-- evento click para editar e excluir academias -->
<div class="icones" (click)="editarAcademia(academia)">
     <!-- icone do editar -->
     <mat-icon>edit</mat-icon>
</div>

<div class="icones"  (click)="excluirAcademia(academia)"> 
      <!-- icone de deletar  -->
   <mat-icon>delete</mat-icon>
</div>
</div> 



