:host
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #e6e6fa;
  flex-direction: column;
}
 
 input
 {
  margin: 10px;
//   height: 5%;
//   width: 50%;
}
 
p
{
  
  width: 100%;
  height: 13%;
  display: flex;
  font-size: 45px;
  color:#6c63ff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family:-webkit-body;
  align-items: center;
  font-family: "Tagesschrift", system-ui;
}
 
span
{
  font-size: 20px;
  color:#6c63ff;
  text-align: center;
  margin: 10px;
  
}
 
button
{
  width: 39%;
  height: 27%;
 background-color:#6c63ff;
 color: white;
 border: none;
 font-size: 16px;
 border-radius: 8px;
 cursor: pointer;
}
 