<p>Lista de Tarefas {{sextou}}</p>
<span>Informe a Tarefa</span>

<input matInput [(ngModel)]="minhaVariavel"/>
<span>Informe o Tempo</span>
<input type="number" matInput [(ngModel)]="tempoDaTarefa"/>


<!-- botão de incluir tarefa com output -->
<button type="button" (click)="incluirTarefa()">Gravar Tarefa</button>

<!-- <app-meu-componente-2 (informacoesDaAna)="OlaMundo($event)" [nome]="minhaVariavel">

</app-meu-componente-2> -->

 <!-- output dentro do html com evento -->
<app-meu-componente-lista-tarefas [tarefas]="minhasTarefas" (editarTarefa)="preencherTarefa($event)">

</app-meu-componente-lista-tarefas>
